.about-banner {
  width: 90%;
  margin-bottom: 50px;
  height: 223px;
  border-radius: 25px;
}

.about-banner-img {
  border-radius: 25px;
  object-fit: cover;
  height: 223px;
  width: 100%;
  margin-top: -223px;
  margin-bottom: 13px;
}

.about-banner-bg {
  background-color: black;
  border-radius: 25px;
  height: 223px;
  width: 100%;
  opacity: 0.3;
}

@media (max-width: 980px) {
  .about-banner {
    width: 95%;
    margin-left: 20px;
  }
}
@media (max-width: 575px) {
  .about-banner {
    width: 95%;
    margin-top: -50px;
    margin-left: 10px;
  }
}
